.thank-you {
  height: 100%;
  display: flex;
  background: url(/thank-you.png);
  margin-top: 0 !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}

.center-message {
  position: absolute;
  z-index: 1;
}

.phone-logo {
  width: 203px;
  height: 203px;
}

.center-message h2 {
  margin-top: 10px;
}

.center-message h4 {
  margin-top: 10px;
}

.center-message span {
  margin-top: 10px;
}

.center-message .u-btn {
  margin-top: 10px;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
}

.center-message a {
  text-align: center;
}

@media (max-width: 500px) {
  .center-message {
    width: auto;
  }  
}

@media (min-width: 500px) {
  .center-message {
    width: 100%;
  }
  .center-message > div {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
  }
}

.mt-20 {
  margin-top: 20%;
}


.thankyou-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.thankyou-box {
  text-align: center;
  padding: 2rem 3rem;
  border: 1px solid var(--color-gray-800);
  background: var(--color-white);
  box-shadow: 0 2px 8px rgba(var(--color-black-rgb), 0.15);
}

.thankyou-box h1 {
  margin: 0 0 0.5rem;
  font-size: clamp(2.5rem, 6vw, 3rem);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--color-gray-800);
}

.thankyou-box p {
  margin: 0;
  font-size: 1.125rem;
  color: var(--color-gray-700);
}