.navbar {
  height: fit-content;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.navbar > .header > .title {
  display: flex;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.navbar > .toggle {
  display: none;
}

.navbar > .links {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  font-size: 18px;
}

.links > button:nth-of-type(1) {
  margin-right: 14px;
}

.navbar span {
  font-size: 12px;
  font-weight: bolder;
  text-decoration: none;
  font-family: Roboto;
  text-transform: uppercase;
}

.navbar > .links > a {

  margin: auto;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.06px;
  font-style: normal;
  color: black;
  margin: auto;
  text-transform: uppercase;
}

.navbar > .links > a:hover {

  text-decoration: underline;
}

.navbar > #nav-check {
  display: none;
}



@media (max-width: 600px) {
  .navbar > .toggle {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .navbar > .toggle > label:hover,
  .navbar #nav-check:checked ~ .toggle > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .navbar > .toggle > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .navbar > .links {
    position: absolute;
    display: block;
    width: 100%;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .navbar > .links > a {
    display: block;
    width: 100%;
  }
  .navbar > #nav-check:not(:checked) ~ .links {
    height: 0px;
  }
  .navbar > #nav-check:checked ~ .links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.navbar img {
  margin: auto;
}

.links > a, .links button {
  margin-top: auto;
  margin-bottom: auto;
} 

@media (min-width: 950px) {
  .desktop {
    display: flex;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  }
  .mobile {
    display: none;
  }
}

@media (max-width: 949px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: unset;
  }
}

.mobileHeader{
  background-color: white;
  box-shadow: 1px 1px 5px 0px grey;
  position: sticky;
  height: 70px;
  z-index: 100;
  top: 0;
  width: 100%;
}

.mobileHeader .logo {
  scale: 75%;
  margin: 0;
}

.logo{
  display: inline-block;
  color: white;
  font-size: 20px;
  margin: 20px;
  width: 3rem;
  height: 3rem;
}

.mobileMenu{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 70px;
  background-color: white;
  overflow: hidden;
  text-align: center;
}

.menu a {
  display: block;
  padding: 10px 0;
  color: black;
  width: auto;
  cursor: pointer;
  font-size: 15px;
}

.menu .u-btn {
  display: block;
  margin: 10px auto;
  padding: 5px 10px;
  color: white;
  width: auto;
  cursor: pointer;
  font-size: 15px;
}

.menu a:hover {
  text-decoration: underline;
}

.mobileMenu {
  max-height: 0;
  transition: max-height .5s ease-out;
}

.hamburger{
  cursor: pointer;
  float: right;
  padding: 34px;
}


.hamburgerLine {
  background: #058BCF;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
  
}

.hamburgerLine::before,
.hamburgerLine::after{
  background: #058BCF;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.hamburgerLine::before{
  top: 5px;
}

.hamburgerLine::after{
  top: -5px;
}


.sideMenu {
  display: none;
}

.sideMenu:checked ~ nav{
  max-height: 100%;
}

.sideMenu:checked ~ .hamburger .hamburgerLine {
  background: transparent;
}

.sideMenu:checked ~ .hamburger .hamburgerLine::before {
  transform: rotate(-45deg);
  top:0;

}

.sideMenu:checked ~ .hamburger .hamburgerLine::after {
  transform: rotate(45deg);
  top:0;
}

.gradient {
  background: #237d9b;
  width: 100%;
  height: 40px;
}

.actions {
  display: flex;
  /*gap: 5px;*/
  /*margin-left: 20px;*/
  /*margin-top: auto;*/
  /*margin-bottom: auto;*/
}

