.form-header {
  border-bottom: 1px solid var(--color-gray-500);
  color: var(--color-black);
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  padding-bottom: 7px;
  margin-bottom: 7px;
}

.billing-contact-form {
  padding: 10px;
  min-width: 310px;
  /*max-width: 480px;*/
}

.billing-contact-form > .form-fields {
  align-items: center;
  column-gap: 15px;
  display: grid;
  grid-template-columns: 120px calc(45% - 60px) auto calc(35% - 60px);
  row-gap: 10px;
  padding: 10px 20px 30px;
}

.billing-contact-form > .form-fields > .form-label {
  display: flex;
  grid-column: 1/1;
  justify-self: end;
}

.billing-contact-form > .form-fields > .form-input {
  grid-column: 2/5;
}

.billing-contact-form > .form-fields > .name-input > input:nth-child(1) {
  margin-right: 5px;
}

.billing-contact-form > .form-fields > .name-input > input:nth-child(2) {
  margin-left: 5px;
}

.billing-contact-form > .form-fields input {
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  color: var(--color-black);
  display: block;
  font-size: 14px;
  height: 34px;
  padding: 0 5px;
  width: 100%;
}

.billing-contact-form > .form-fields input:disabled {
  cursor: not-allowed;
}

.form-label {
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-black);
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.step-btn {
  align-items: center;
  /*background: var(--color-blue-300);*/
  border: none;
  border-radius: 0.1rem;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  height: 34px;
  justify-content: center;
  transition: all 0.2s;
  width: 100%;
}

.step-btn:disabled {
  cursor: not-allowed;
}

dialog {
  justify-self: center;
}
